body {
    padding-left: 15px;
    font-size: 18px;
    color: white;
}

.page-header{
  background-color: skyblue;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  font-family: :'VT323';
}

.page-header p{
  color: blue;
}

.user {
  float: right;
  color: orange;
}

.page-header{
    text_decoration: none;
}

.content{
    margin-left: 40px;
    color: black;
}

h1, h2, h3, h4 {
    font-farmily:'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    margin-left: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
.post h1{
    font-family: 'Lobster';
}
