html{
  font-size: 100%;
}

h1 {
  font-size: 10vw;
}

h1.text-center {
  font-family: 'Pacifico', cursive;
}

.page-header {
  padding: 20%;
  background-image: url(header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
