{% extends 'blog/base.html' %}

{% block content %}
    <div class="date">
      {% if post.published_date %}
        <div class="date">
              {{ post.published_date }}
        </div>
      {% else %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><i class="fas fa-check"></i> Publish</a>
      {% endif %}
        <a href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit"></i> Edit</a>
        <a href="{% url 'post_remove' pk=post.pk %}"><i class="fas fa-trash-alt"></i> Delete</a>
    </div>
    <h1>{{ post.title }}</h1>
    {{ post.text|linebreaks }}
    {% if post.data %}
      <img src="{{post.data.url}}"/>
    {% endif %}

    <h4>コメント</h4>
    <a href="{% url 'comment' pk=post.pk %}">コメントする</a>
    <hr>
    {% for comment in comments %}
      <div style="margin-left:100px;">
        名前：{{ comment.name }}<br>
        コメント：{{ comment.text }}<br>
      </div>
    {% endfor %}
{% endblock %}
